.upload {
    background-color: blue;
}

/* Upload Btn */
.btn.btn-upload{
    position: absolute;
    background-color: seagreen;
    right: 10%;
    height: 50px;
    width: 50px;
    line-height: 40px;
    font-size: 3em;
    text-align: center;
}