.download{
    position: absolute;
    bottom: 33vh;
    left: 2vw;
    margin-bottom: 3%;
    padding: 0;
    z-index: 110;
}

.drop-down {
    position: relative;
    float: left;
    top: -1vh;
    width: 5vw;
    font-size: 1rem;
    margin: 0;
    padding: 1vw;
    background-color: transparent;
    border-color: transparent;
    color: rgba(255, 255, 255, 9);
}

.drop-down:active, .drop-down::after, 
.drop-down:hover, .drop-down:focus  {
    border-color: transparent;
    box-shadow: none!important;
}

select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: none;
}

select option:not(:checked) { 
    background: black;
}

select:focus > option:checked { 
    background: #000 !important;
}

/* icon */
#downIcon {
    position: relative;
    float: left;
    left: 2vw;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
}

#downIcon:active {
    color: rgba(187, 134, 252, 1);
}

@media (min-width: 425px) {  
    .download{
        bottom: 34vh;
        left: 3vw;
        margin-bottom: 4%;
    }    

    /* Icons */
    #downIcon{
        font-size: 1em;
    }
}

@media (min-width: 768px) {  
    .drop-down {
        width: 11vw;
        top: -1vh;
    }

    .download{
        bottom: 32vh;
        left: 7vw;
        margin-bottom: 5%;
    } 

    #downIcon{
        font-size: 1.3em;
    }
}

@media (min-width: 1024px) {  
    .drop-down {
        width: 8vw;
        top: -1vh;
    }

    .download{
        bottom: 31vh;
        left: 8vw;
        margin-bottom: 4%;
    }    

    /* Icons */
    #downIcon{
        font-size: 1.5em;
    }
}

@media (min-width: 1440px) { 
    .drop-down {
        width: 7vw;
    }

    .download{
        bottom: 27vh;
        left: 12vw;
        margin-bottom: 3%;
    }    

    /* Icons */
    #downIcon{
        font-size: 2em;
    }
}

@media (min-width: 2560px) {  
    .drop-down {
        width: 5vw;
        font-size: 1.5em;
    }

    .download{
        bottom: 26vh;
        left: 14vw;
    }    
}